<mat-sidenav-container>
  <mat-sidenav #sidenav mode="push">
    <app-sidebar></app-sidebar>
  </mat-sidenav>
  <mat-sidenav-content>
    <header>
      <app-header (toggleSidenav)="sidenav.toggle()"></app-header>
    </header>
    <main>
      <router-outlet />
    </main>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>

<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="ball-atom"
  [fullScreen]="true"
>
  <p style="color: white">Loading...</p>
</ngx-spinner>
