<section id="hero">
  <div
    id="heroCarousel"
    class="carousel slide carousel-fade"
    data-bs-interval="3000"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner" role="listbox">
      <!-- Slide1 -->
      <div
        class="carousel-item active"
        style="
          background-image: url('https://cdn.oneesports.gg/cdn-data/2024/07/once_human_redeem_rewards.jpg');
        "
      >
        <div class="carousel-container">
          <div class="container">
            <h2 class="animate__animated animate__fadeInDown">Bienvenido</h2>
            <p class="animate__animated animate__fadeInUp">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Laudantium nihil error ducimus laboriosam aperiam officia, maxime
              itaque incidunt sapiente ipsam distinctio repellat, quisquam ab.
              Deserunt debitis esse non iure harum?
            </p>
            <button
              class="animate__animated animate__fadeInUp"
              mat-flat-button
              color="warn"
            >
              Ver más
            </button>
          </div>
        </div>
      </div>
      <!-- Slide2 -->
      <div
        class="carousel-item"
        style="
          background-image: url('https://images5.alphacoders.com/134/1341768.jpeg');
        "
      >
        <div class="carousel-container">
          <div class="container">
            <h2 class="animate__animated animate__fadeInDown">
              Compra en Línea
            </h2>
            <p class="animate__animated animate__fadeInUp">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Laudantium nihil error ducimus laboriosam aperiam officia, maxime
              itaque incidunt sapiente ipsam distinctio repellat, quisquam ab.
              Deserunt debitis esse non iure harum?
            </p>
            <button
              class="animate__animated animate__fadeInUp"
              mat-flat-button
              color="dark"
            >
              Ver más
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Botones -->
    <a
      href="#heroCarousel"
      class="carousel-control-prev"
      role="button"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon bi bi-chevron-left"></span>
    </a>
    <a
      href="#heroCarousel"
      class="carousel-control-next"
      role="button"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon bi bi-chevron-right"></span>
    </a>
  </div>
</section>

<div class="container p-5">
  <div class="row">
    <div class="col-lg-6">
      <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta quia
        similique quis fugit molestias et corporis, dolorem quae dignissimos
        doloribus omnis hic incidunt eligendi quibusdam cupiditate amet
        consequatur reprehenderit! Exercitationem?
      </p>
    </div>
    <div class="col-lg-6">
      <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, neque
        beatae itaque officia odit illo cum temporibus asperiores inventore
        corporis deserunt voluptatem eos expedita repellendus iusto
        reprehenderit. Maiores, omnis delectus.
      </p>
    </div>
  </div>
</div>
